---
import BlogCard from "@/components/BlogCard.astro";

import Pagination from "@/components/Pagination.astro";

import config from "@/config/config.json";

import Layout from "@/layouts/Layout.astro";

import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

import PageHeader from "@/components/PageHeader.astro";
import PostSidebar from "@/components/PostSidebar.astro";
import { getEntry } from "astro:content";

const BLOG_FOLDER = "blog";

const postIndex = await getEntry(BLOG_FOLDER, "-index");
const posts = await getSinglePage(BLOG_FOLDER);
const allCategories = await getAllTaxonomy(BLOG_FOLDER, "categories");
const categories = await getTaxonomy(BLOG_FOLDER, "categories");
const tags = await getTaxonomy(BLOG_FOLDER, "tags");

const sortedPosts = sortByDate(posts);

//page count
const totalPages: number = Math.ceil(posts.length / 4);

//get the first 4 posts
const currentPosts = sortedPosts.slice(0, 4);
---

<Layout
  title={postIndex.data.title}
  image_path={postIndex.data.image ? postIndex.data.image : ""}
  description={postIndex.data.description ? postIndex.data.description : ""}
>
  <style lang="scss">
    .blog-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
    }

    .side-bar {
      display: flex;
      flex-direction: col;
      position: fixed;
      background: red;
      border: 1px solid blue;
    }
  </style>

  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="blog-wrapper">
        <!-- blog posts -->
        <div class="blog posts">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="">
                  <BlogCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={BLOG_FOLDER}
            currentPage={1}
            totalPages={totalPages}
          />
        </div>

        <PostSidebar
          className="side-bar"
          categories={categories}
          tags={tags}
          allCategories={allCategories}
        />
      </div>
    </div>
  </section>
</Layout>
